<%= simple_form_for(@contact) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :city %>
      <%= f.input :subject %>
      <%= f.input :comment %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
