<%= stylesheet_link_tag "subscriptions", :media => "all" %>

<script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    $(document).ready(function() {
        $('#submit_upgrade').click(function() {
            var form = $(this).closest('form');
            form.validate({
                errorLabelContainer: $('#flash-notice-error'),
                errorElement: "p",
                rules: {
                    'credit_card[card_zip]': {
                        required: true
                    },
                    'credit_card[card_cvc]': {
                        required: true,
                        number: true
                    },
                    'credit_card[month_expiration]': {
                        required: true,
                        number: true
                    },
                    'credit_card[year_expiration]': {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    'credit_card[card_zip]': {
                        required: "field card number is required."
                    },
                    'credit_card[card_cvc]': {
                        required: "field card cvv is required.",
                        number: "field card cvv must be number."
                    },
                    'credit_card[month_expiration]': {
                        required: "field month expiration is required.",
                        number: "month expiration must be number."
                    },
                    'credit_card[year_expiration]': {
                        required: "field year expiration is required.",
                        number: "year expiration must be number."
                    }
                }
            })
            if (form.valid()) {
                $('#flash-notice-error').empty();
                form.append('<img src="/assets/Metro/loading.gif" style="margin-left: 8px"/>');
                form.find('#submit_upgrade').attr('disabled', 'disabled');
                Stripe.createToken({
                    number: form.find('input[name="credit_card[card_zip]"]').val(),
                    cvc: form.find('input[name="credit_card[card_cvc]"]').val(),
                    exp_month: form.find('input[name="credit_card[month_expiration]"]').val(),
                    exp_year: form.find('input[name="credit_card[year_expiration]"]').val()
                }, function(status, response) {
                    if (response.error) {

                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/accounts/update_credit_card",
                            data: {
                                "credit_card[card_zip]": form.find('input[name="credit_card[card_zip]"]').val(),
                                "credit_card[card_cvc]": form.find('input[name="credit_card[card_cvc]"]').val(),
                                "credit_card[month_expiration]": form.find('input[name="credit_card[month_expiration]"]').val(),
                                "credit_card[year_expiration]": form.find('input[name="credit_card[year_expiration]"]').val(),
                                "credit_card[stripe_customer_id]": response.id,
                                "credit_card[card_type]": response.card.type
                            },
                            dataType: "json",
                            beforeSend: function() {
                            },
                            success: function(response) {
                                if (response.status == 'ok') {
                                    form.find('#submit_upgrade').removeAttr('disabled')
                                    $('#flash-notice-success').empty().show().html('<div class="alert alert-success">Upgrading successfully</div>');
                                    $.each($('#list-subscription .btn'), function(value, index) {
                                        if ($(this).attr('class').indexOf('btn-success') == -1)
                                            $(this).removeAttr('disabled')
                                    });

                                }
                                else if (response.status == 'failure') {
                                    $('#flash-notice-error').empty().show().html('<div class="alert alert-error">Having problem when upgrade</div>');
                                }
                                form.children('img').remove()
                            },
                            error: function(response) {
                                $('#flash-notice-error').empty().show().html('<div class="alert alert-error">Having problem when upgrade</div>');
                                form.children('img').remove()
                            }
                        })
                    }
                });
            }
            return false;
        })
        $('.stdtable .btn').click(function() {
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "/subscriptions/change_plan",
                data: {
                    plan_id: $(this).closest('tr').attr('id').substr(7)
                },
                dataType: "json",
                beforeSend: function() {
                    obj.parent().append('<img src="/assets/Metro/loading.gif" style="margin: 8px 12px; position: absolute;"/>');
                    obj.attr('disabled', 'disabled');
                },
                success: function(response) {
                    obj.parent().children('img').remove();
                    obj.removeAttr('disabled');
                    if (response.status == 'ok') {
                        obj.closest('.stdtable').find('.btn-success').removeClass('btn-success').removeAttr('disabled').text('Active')
                        obj.addClass('btn-success').attr('disabled', 'disabled').text('Deactive')
                    }
                    else if (response.status == 'failure'){
                        $('#flash-notice-error').empty().show().html('<div class="alert alert-error">Having problem when changing plan</div>');
                    }
                },
                error: function(response) {
                    obj.parent().children('img').remove();
                }
            })
        })
    });
</script>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h3><span class="translation_missing" title=""><%= t('subscription.title') %></span></h3>
      </div>
      <!-- /.masthead-text -->

    </div>

  </div>
  <!-- /.container -->

</div>

<div id="content">

  <div class="container">


    <div class="row">

      <div class="span12">
        <div id="flash-notice-error" class="alert alert-error hide">

        </div>
        <div id="flash-notice-success">

        </div>
        <div class="hero-unit" style="padding-top: 16px">
          <h2><%= t('subscription.credit_card') %></h2>
          <div data="">
            <%= form_for(current_user.credit_card || CreditCard.new(), :url => '/accounts/payment') do |f| %>
                <div class="form-row">
                  <%= f.label :card_zip, t('subscription.card_zip') %>
                  <%= f.text_field :card_zip %>
                </div>

                <div class="form-row">
                  <%= f.label :card_cvc , t('subscription.card_cvc ')%>
                  <%= f.text_field :card_cvc %>
                </div>

                <div class="form-row">
                  <%= f.label :month_expiration , t('subscription.month_expiration')%>
                  <%= f.text_field :month_expiration %>
                </div>

                <div class="form-row">
                  <%= f.label :year_expiration , t('subscription.year_expiration') %>
                  <%= f.text_field :year_expiration %>
                </div>
                <%= f.submit t('subscription.submit_payment'), :id => "submit_upgrade", :class => "btn"%>
            <% end%>


          </div>
          <a href="/accounts"><%= t('back') %></a>
        </div>
        <div class="hero-unit" style="padding-top: 16px">
          <h2><%= t('subscription.list_subscription') %></h2>
          <% if current_user.account.present? && current_user.account.organizations.present?%>
              <div data="">
                <table class="stdtable width800" id="list-subscription">
                  <thead>
                      <th><%= t('subscription.plan_name') %></th>
                      <th><%= t('subscription.price') %></th>
                      <th><%= t('subscription.status') %></th>
                  </thead>
                  <tbody>

                        <% @plan.each do |plan| %>
                          <tr id="planid-<%= plan.id%>">
                            <% if current_user.credit_card.blank?%>
                                <td><%= t("activerecord.plan." + plan.name)%></td>
                                <td><%= plan.price%> $</td>
                                <td><button class="btn" disabled="disabled"><%= t('subscription.active') %></button></td>
                            <% elsif @subscription.present? && @subscription.plan.id == plan.id%>
                                <td><%= t("activerecord.plan." + plan.name)%></td>
                                <td><%= plan.price%> $</td>
                                <td><button class="btn btn-success" disabled="disabled"><%= t('subscription.deactive') %></button></td>
                            <% else %>
                                <td><%= t("activerecord.plan." + plan.name)%></td>
                                <td><%= plan.price%> $</td>
                                <td><button class="btn"><%=  t('subscription.active') %></button></td>
                            <% end%>
                          </tr>
                        <% end%>
                  </tbody>
                </table>
              </div>
          <% else %>
             <h5><%= t('subscription.no_plan')%></h5>
          <% end%>
        </div>
      </div>
    </div>

  </div>
</div>