<p id="notice"><%= notice %></p>

<p>
  <b><%= t('subscription.user') %>:</b>
  <%= @subscription.user_id %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
