<div class="row">
  <div class="span2">

      <!-- Docs nav
      ================================================== -->
      <div class="row">
        <hr />
        <div class="span2 bs-docs-sidebar">
          <ul class="nav nav-list bs-docs-sidenav">
            <li><a href="#typography"><i class="icon-chevron-right"></i> TODO</a></li>
            <li><a href="#code"><i class="icon-chevron-right"></i> Later</a></li>
            <li><a href="#tables"><i class="icon-chevron-right"></i> Delegated</a></li>
            <li><a href="#forms"><i class="icon-chevron-right"></i> Trashcan</a></li>
            <li><a href="#forms"><i class="icon-chevron-right"></i> Reviews</a></li>

          </ul>
        </div>
</div>        </div>
<div class="row">
  <div class="span11">
    <form class="form-search">
      <hr />
      <input class="input-xxlarge" type="text" placeholder="Search">
      <button type="submit" class="btn">Search</button>
    </form>
    <% @items.each do |item| %>
        <table class="table table-hover table-condensed">
    <td><b><%= item.subject %></b></td>
    <td><%= raw (item.body)[0,15] %>...</td>
    <!--<td><%= item.rating %></td>-->
    <!--<td><%= item.kind.name %></td>-->
    <!--<td><%= item.folder %></td>-->
    <!--<td><%= item.visible %></td>-->
    <td><%= item.source %></td>
    <td><%= item.reminder %></td>
    <!--<td><%= item.new %></td>-->
    <td><%= item.organization.name %></td>
    <!--<td><%= item.reviewer.name %></td>-->
    <!--<td><%= item.completed %></td>-->
    <!--<td><%= link_to 'Show', item %></td>-->
    <!--<td><%= link_to 'Edit', edit_item_path(item) %></td>-->
    <!--<td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </table>
<% end %>
       </div>
</div>
  </div>

