<a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
  <i class="icon-cog"></i>
</a>

<div id="top-nav">


  <ul class="pull-right">
    <% if user_signed_in? %>
        <li>
          <% if current_user.present? and current_user.account.present? and  current_user.account.organizations.present?%>
          <a href="/subscriptions/new" style="padding: 8px 8px; background: white; color: black; text-transform: uppercase;">Upgrade To Pro</a>
          <% end %>
          </li>
        <li>
          <a href="javascript:;"><i class="icon-user"></i><%= t(:logged_in_as) %>  <%= link_to current_user.name, current_user %>
          </a>
        </li>
        <!--  <li><a href="javascript:;"><span class="badge badge-primary">1</span><%= t(:important_messages) %></a></li> -->
        <li class="dropdown">
          <a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">
            <%= t(:settings) %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu pull-right">

            <li>
              <%= link_to t(:edit_account), edit_user_registration_path %>
            </li>
            <li>
              <%= link_to t(:my_accounts), accounts_path %>
            </li>
            <!--
           <li class="dropdown-submenu">
             <a tabindex="-1" href="#">Dropdown menu</a>
             <ul class="dropdown-menu">
               <li><a tabindex="-1" href="#">Second level link</a></li>
               <li><a tabindex="-1" href="#">Second level link</a></li>
               <li><a tabindex="-1" href="#">Second level link</a></li>
             </ul>
           </li> -->
          </ul>
        </li>

        <li>
          <%= link_to t(:logout), destroy_user_session_path, :method => 'delete' %>
        </li>
    <% else %>
        <li>
          <%= link_to t(:login), new_user_session_path %>
        </li>
        <li>
          <%= link_to t(:sign_up), new_user_registration_path %>
        </li>
    <% end %>

  </ul>

</div> <!-- /#top-nav -->


